$Very-Pale-Blue: hsl(207, 100%, 98%);
.il1 {
  background: $Very-Pale-Blue;
}

.il {
  padding: 3rem;
  margin: 0;
  img {
    padding-bottom: 4rem;
  }
  h3 {
    padding-bottom: 2rem;
  }
}

.il3 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
